.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX:not(.virtualkeyboard_Focused_21EoN):not(.virtualkeyboard_Touched_3UFQq):not(.virtualkeyboard_KeyboardSpacebar_ia41Q) {
    background:none;
}

.DefaultTheme .virtualkeyboard_KeyboardActionButtonLeft_2both {
    left: 8px;
    bottom: 4px;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX,
.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq::after {
    border-radius: 30px;
}

.DefaultTheme .virtualkeyboard_KeyboardExtendedRow_21EW_ {
    border-radius: 30px;
    overflow: hidden;
}
