.DefaultTheme {
    --background-color: #000000;
    --key-spacebar-background-color: #727272;
    --key-extendedkey-background-color: #727272;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #727272;
}