.DefaultTheme {
    --background-color: #1f1f1f;
    --key-spacebar-background-color: #444746;
    --key-extendedkey-background-color: #444746;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #444746;
}