.DefaultTheme {
    --background-color: #43a047;
    --key-spacebar-background-color: #97ca99;
    --key-extendedkey-background-color: #97ca99;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #97ca99;
}