.DefaultTheme {
    --background-color: #c62828;
    --key-spacebar-background-color: #df8888;
    --key-extendedkey-background-color: #df8888;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #df8888;
}