.DefaultTheme {
    --background-color: #4527a0;
    --key-spacebar-background-color: #9888ca;
    --key-extendedkey-background-color: #9888ca;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #9888ca;
}