.DefaultTheme {
    --background-color: #37474f;
    --key-spacebar-background-color: #90999e;
    --key-extendedkey-background-color: #90999e;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #90999e;
}