.DefaultTheme {
    --background-color: #4e342e;
    --key-spacebar-background-color: #9d8f8b;
    --key-extendedkey-background-color: #9d8f8b;
}

.DefaultTheme .virtualkeyboard_KeyboardKey_2KhPX.virtualkeyboard_Touched_3UFQq {
    background-color: #9d8f8b;
}